@import vars
@import fonts
@import libs

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Roboto', sans-serif
	overflow-x: hidden
	color: $text

// Custom Sass / Remove before use

.container
	max-width: 1200px
	padding:
		right: $gutter/2
		left: $gutter/2
	margin:
		left: auto
		right: auto

img
	display: block
	max-width: 100%
	height: auto

.top
	display: grid
	grid-template-columns: 1fr 5fr 2fr
	grid-column-gap: 72px
	align-items: center
	&__adress
		display: flex
		align-items: center
.map_tag
	width: 28px
	height: auto
	margin:
		right: 10px
